*
!.Xresources
!.bash_profile
!.bashrc
!.config
!.config/40-libinput.conf
!.config/packages
!.config/pacman.conf
!.config/alacritty
!.config/alacritty/**
!.config/kitty
!.config/kitty/**
!.config/dunst
!.config/dunst/**
!.config/fcitx5
!.config/fcitx5/**
!.config/fish
!.config/fish/**
!.config/ghostty
!.config/ghostty/**
!.config/i3
!.config/i3/**
!.config/i3blocks
!.config/i3blocks/**
!.config/mpv
!.config/mpv/**
!.config/polybar
!.config/polybar/**
!.config/ranger
!.config/ranger/**
!.config/rofi
!.config/rofi/**
!.config/variety
!.config/variety/variety.conf
!.gitconfig
!.gitignore
!.gitignore_global
!.vim
!.vim/vimrc
!.xinitrc
!.zshrc
!.packages
!.bin
!.bin/**
!.pacman.conf
!.40-libinput.conf
